* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 1000;
  top: 0;
  height: 80px;

  &-content {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 80px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;

    &-logo {
      background-color: transparent;
      width: 132px;
      height: 100%;
      display: flex;
      align-items: center;

      .logo {
        &-img {
          width: 100%;
          margin-top: 2px;
        }
      }
    }

    &-nav {
      background-color: transparent;
      height: 100%;
      display: flex;
      align-items: center;

      .navbar {
        &-ul {
          list-style: none;
          display: flex;
          gap: 32px;
          text-decoration: none;

          &-li {
            .singleli {
              text-decoration: none;
              font-weight: 900;
              color: white;
              font-size: 15.5px;
            }

            .singleli:hover {
              color: green;
            }

            .singleli2 {
              text-decoration: none;
              font-weight: 900;
              color: rgb(194, 194, 194);
              font-size: 15.5px;
            }

            .singleli2:hover {
              color: green;
            }
          }
        }
      }
    }

    &-burger {
      background-color: transparent;
      display: flex;
      align-items: center;
      display: none;
      .buricon {
        width: 30px;
      }
    }
  }
}
